<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<div class="container py-5">
		<div class="row text-center text-white mb-5">
			<div class="col-lg-7 mx-auto">
				<h1 class="display-4">Brand name</h1>
				<form class="navbar-form" role="search">
					<div class="input-group add-on">
						<input class="form-control" placeholder="Search" name="q" id="search-bar" type="text">
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 mx-auto">

				<ul class="list-group shadow">


					<li class="list-group-item">
						<div class="media align-items-lg-center flex-column flex-lg-row p-3">
							<div class="media-body order-2 order-lg-1">
								<h4 class="mt-0 font-weight-bold mb-2">{{coffees[0].roaster}}</h4>
								<h4 class="mt-0 font-weight-bold text-info mb-2">{{coffees[0].name}}</h4>

								<div class="container row mt-3">
									<div class="col-md-6">
										<div class="row mt-1"><b>Roaster Location:</b>&nbsp;{{coffees[0].roasted_location}}</div>
										<div class="row mt-1"><b>Coffee Origin:</b>&nbsp;{{coffees[0].origin}}</div>
										<div class="row mt-1"><b>Latitude:</b>&nbsp;{{coffees[0].latitude}}</div>
										<div class="row mt-1"><b>Roast Level:</b>&nbsp;{{coffees[0].roast}}</div>
										<div class="row mt-1"><b>Agtron:</b>&nbsp;{{coffees[0].agtron}}</div>
										<div class="row mt-1"><b>Est. Price:</b>&nbsp;{{coffees[0].est_price}}</div>

									</div>
									<div class="col-md-6">
										<div class="row mt-1"><b>Review Date:</b>&nbsp;{{coffees[0].review_date}}</div>
										<div class="row mt-1"><b>Aroma:</b>&nbsp;{{coffees[0].aroma}}</div>
										<div class="row mt-1"><b>Body:</b>&nbsp;{{coffees[0].body}}</div>
										<div class="row mt-1"><b>Flavor:</b>&nbsp;{{coffees[0].flavor}}</div>
										<div class="row mt-1"><b>Aftertaste:</b>&nbsp;{{coffees[0].aftertaste}}</div>
										<div class="row mt-1"><b>With Milk:</b>&nbsp;{{coffees[0].with_milk}}</div>

									</div>
								</div>


								<p class="font-italic mt-3 mb-0"><b>Blind Assessment:</b>{{coffees[0].description}}</p>
								<!-- <div class="d-flex align-items-center justify-content-between mt-1">
									<h6 class="font-weight-bold my-2"></h6>
									<ul class="list-inline small">
										<li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
										<li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
										<li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
										<li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
										<li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
									</ul>
								</div>
								<div class="d-flex align-items-center justify-content-between mt-1">
									<h6 class="font-weight-bold my-2"></h6>
									<h6 class="font-weight-bold my-2">Rating: 94/100</h6>
								</div> -->



								<div class="d-flex align-items-center justify-content-end mt-1">
									<ul class="list-inline small">
										<li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
										<li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
										<li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
										<li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
										<li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
									</ul>
								</div>
								<div class="d-flex align-items-center justify-content-between">
									<h6 class="font-weight-bold my-2 text-muted small">Reviews provided by <a href="https://www.coffeereview.com/">Coffee Review</a></h6>
									<h6 class="font-weight-bold my-2">Rating: 94/100</h6>
								</div>

							<!-- </div><img src="https://i.imgur.com/KFojDGa.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2"> -->
						</div>
					</li>

					{% for coffee in coffees[1:]%}

					<li class="list-group-item">
						<div class="media align-items-lg-center flex-column flex-lg-row p-3">
							<div class="media-body order-2 order-lg-1">
								<p class="font-italic text-info mb-0 small">Recommended for you</p>
								<h5 class="mt-0 font-weight-bold mb-2"><a href={{url_for("coffee_page",coffee_name=coffee.name)}}>{{coffee.name}} &ndash; {{coffee.roaster}}</a></h5>
								<p class="font-italic text-muted mb-0 small">{{coffee.description}}</p>
								<div class="d-flex align-items-center justify-content-between mt-1">
									<h6 class="font-weight-bold my-2">{{coffee.roast}}</h6>
									<h6 class="font-weight-bold my-2">{{coffee.rating}}</h6>
									<ul class="list-inline small">
										<li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
										<li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
										<li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
										<li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
										<li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
									</ul>
								</div>
							<!-- </div><img src="https://i.imgur.com/KFojDGa.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2"> -->
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</body>
</html>

