body{
	/*background: linear-gradient(to right, #c04848, #480048);*/
	background-image: url("original1.jpg");
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;
}

.text-gray{
	color: #aaa;
}

img {
	height: 170px;
	width: 140px;
}