<li class="list-group-item">
    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
        <div class="media-body order-2 order-lg-1">
            <h4 class="mt-0 font-weight-bold mb-2">{{COFFEE_BRAND}}</h4>
            <h4 class="mt-0 font-weight-bold text-info mb-2">{{COFFEE_NAME}}</h4>

            <div class="container row mt-3">
                <div class="col-md-6">
                    <div class="row mt-1"><b>Roaster Location:</b>&nbsp;{{COFFEE_LOCATION}}</div>
                    <div class="row mt-1"><b>Coffee Origin:</b>&nbsp;{{COFFEE_ORIGIN}}</div>
                    <div class="row mt-1"><b>Latitude:</b>&nbsp;{{LATITUDE}}</div>
                    <div class="row mt-1"><b>Roast Level:</b>&nbsp;{{ROASTED_LEVEL}}</div>
                    <div class="row mt-1"><b>Agtron:</b>&nbsp;{{AGTRON}}</div>
                    <div class="row mt-1"><b>Est. Price:</b>&nbsp;{{PRICE}}</div>

                </div>
                <div class="col-md-6">
                    <div class="row mt-1"><b>Review Date:</b>&nbsp;{{REVIEW_DATE}}</div>
                    <div class="row mt-1"><b>Aroma:</b>&nbsp;{{AROMA}}/10</div>
                    <div class="row mt-1"><b>Body:</b>&nbsp;{{BODY}}/10</div>
                    <div class="row mt-1"><b>Flavor:</b>&nbsp;{{FLAVOR}}/10</div>
                    <div class="row mt-1"><b>Aftertaste:</b>&nbsp;{{AFTERTASTE}}/10</div>
                    <div class="row mt-1"><b>With Milk:</b>&nbsp;{{WITH_MILK}}/10</div>

                </div>
            </div>

            <p class="font-italic mt-3 mb-0"><b>Blind Assessment:</b> {{DESC_1}}</p>
            <p class="font-italic mt-3 mb-0"><b>Notes:</b> {{DESC_2}}</p>
            <p class="font-italic mt-3 mb-0"><b>The Bottom Line:</b> {{DESC_3}}</p>

            <div class="d-flex align-items-center justify-content-end mt-1">
                <ul class="list-inline small">
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                </ul>
            </div>

            <div class="d-flex align-items-center justify-content-between">
                <h6 class="font-weight-bold my-2 text-muted small">Reviews provided by <a href="https://www.coffeereview.com/">Coffee Review</a></h6>
                <h6 class="font-weight-bold my-2">Rating: {{COFFEE_RATING}}/100</h6>
            </div>
        </div>
</li>